<app-sidebar></app-sidebar>
<div class="profile-section">
    <div class="profile-header">
        <i class="pi pi-user"></i>
        <h3>Perfil Estudiante</h3>
    </div>
    <div class="profile-info">
        <div class="info-row">
            <span class="info-label">Apellidos y Nombres:</span>
            <span class="info-value">Mary Soto Luque</span>
        </div>
        <div class="info-row">
            <span class="info-label">Código de Estudiante:</span>
            <span class="info-value">202310624</span>
        </div>
        <div class="info-row">
            <span class="info-label">DNI:</span>
            <span class="info-value">94533457</span>
        </div>
        <div class="info-row">
            <span class="info-label">Correo Institucional:</span>
            <span class="info-value">maryedu.pe</span>
        </div>
        <div class="info-row">
            <span class="info-label">Carrera:</span>
            <span class="info-value">EP. Ingeniería de Sistemas</span>
        </div>
        <div class="info-row">
            <span class="info-label">Telefono:</span>
            <span class="info-value">789456123</span>
        </div>
        <div class="info-row">
            <span class="info-label">Plan:</span>
            <span class="info-value">2023-1</span>
        </div>
    </div>
</div>
