<app-sidebar></app-sidebar>
<div class="profile-section">
    <div class="profile-header ">
        <i class="pi pi-user"></i>
        <h3>Perfil</h3>
    </div>
    <div class="profile-info ">
        <div class="info-row">
            <span class="info-label">Apellidos y Nombres:</span>
            <span class="info-value">{{ perfilData.apellidos }} {{ perfilData.nombres }}</span>
        </div>
        <div class="info-row">
            <span class="info-label">DNI:</span>
            <span class="info-value">{{ perfilData.dni }}</span>
        </div>
        <div class="info-row">
            <span class="info-label">Correo:</span>
            <span class="info-value">{{ perfilData.email }}</span>
        </div>
        <div class="info-row">
            <span class="info-label">Carrera:</span>
            <span class="info-value">{{ perfilData.carrera }}</span>
        </div>
        <div class="info-row">
            <span class="info-label">Telefono:</span>
            <span class="info-value">{{ perfilData.telefono }}</span>
        </div>
    </div>
</div>
